<h1 class="panel is-12 has-text-centered panel-heading">All Posts</h1>
 
    <% @posts.each do |post| %>
      <div class="columns is-centered">
        <div class="column is-half">
          <div class= "box">
            <strong><%= user_check(post) %></strong>
            <div class="has-text-centered">
               <em ><%= post.title %></em>
               <div><%= post.body %></div> 
            </div>
          </div> 
        </div>   
      </div>               
    <% end %>

<br>
<nav class="navbar is-fixed-bottom">
	<div class="navbar-menu navbar-end">
		<div class="navbar-item">
			<div class="field is-grouped">
				<p class="control">
					 <%= new_post_btn%> 
				</p>
		</div>
	</div>
</nav>
   

